body{
    background-color: silver;
    font-size: 50px;
    text-align: center;
    padding: 12px 12px;
    margin: 8px 0;
    font-weight: 700;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: sandybrown;
}
body:hover{
    color: rgb(28, 87, 58);
}

img{
    width: 60%;
    padding: 20px 20px;
    margin: 12px 0;
}
