<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <title>Document</title>
</head>
<body>
    <h2>Flatmate's Bill</h2>
    <p>This web app is useful to split a bill between two flatmates.</p>
    <a href="{{url_for('bill_form_page')}}">Go to the bill page.</a>  <!--Dodam url_for() jer tako definisem putanju za link koji hocu tu da stavim, a u zagradama uvek ide ime te klase, kao sto je u ovom slucaju bill_form_page-->
    <br>
    <img src="static/images/flatmates.png" alt=""/>

</body>
</html>